<div class="container mt-4" data-aos="fade-left">
  <div class="row row-cols-sm-2 row-cols-1" >
    <div #left class="col img-hover">
      <img [src]="image" alt="...">
    </div>
    <div class="col">
      <h1>{{title}}</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad eius labore voluptas laudantium debitis ex vitae quaerat sunt corporis cum. Impedit voluptate laborum beatae eligendi adipisci repellat, ab eius vitae.</p>
      <div class="row">
        <div class="col" style="text-align: center">
          <button class="button bn">Read more</button>
        </div>
        <div class="col" style="text-align: center">
          <button class="button">More events</button>
        </div>
      </div>
    </div>
    <div #right class="col img-hover">
      <img [src]="image" alt="...">
    </div>
  </div>
</div>
