<div class="mt-4" data-aos="fade-left">
  <div class="row row-cols-1 row-cols-md-2 justify-content-center">
    <div #left class="col-auto img-hover">
      <img [src]="image" alt="...">
    </div>
    <div class="col-auto">
      <h1 class="m-3">{{title}}</h1>
      <p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad eius labore voluptas laudantium debitis ex vitae quaerat sunt corporis cum. Impedit voluptate laborum beatae eligendi adipisci repellat, ab eius vitae.</p>
      <div class="row m-3">
        <div class="col text-center">
          <button class="button bn">Read more</button>
        </div>
        <div class="col text-center">
          <button class="button">More events</button>
        </div>
      </div>
    </div>
    <div #right class="col-auto img-hover">
      <img [src]="image" alt="...">
    </div>
  </div>
</div>
