<div #navbar class="cont sticky">
  <nav class="navbar blur">
    <div class="container-fluid">
      <a class="navbar-brand text-white fw-bold" href="#">
        <img src="../assets/img/logo.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
        Mente Fitness
      </a>

      <div #icon id="icon" class="icon nav-icon-5" onclick="openNav()">
        <span id="icon"></span>
        <span id="icon"></span>
        <span id="icon"></span>
      </div>
    </div>
  </nav>
</div>

<div class="bcg"></div>

<div #mySidenav id="mySidenav" class="sidenav">
  <a href="#">About</a>
  <hr>
  <a href="#">Register</a>
  <hr>
  <a href="#">Contact</a>
  <hr>
</div>
