<div>
  <app-navbar></app-navbar>
</div>

<app-carousel></app-carousel>
<hr>

<h1 class="text-center m-4">Welcome to Mente Fitness</h1>
<h3 class="text-center m-4">Start your journey</h3>

<hr>

<div class="container mt-5">
  <!-- Container switch and hide image -->
  <app-card-home [container]="1" [image]="'../assets/examples/photo 3.jpg'" title="Effort"></app-card-home>
  <app-card-home [container]="2" [image]="'../assets/examples/photo 4.jpg'" title="Fellowship"></app-card-home>
  <app-card-home [container]="1" [image]="'../assets/examples/photo 5.jpg'" title="Dedication"></app-card-home>
  <app-card-home [container]="2" [image]="'../assets/examples/photo 6.jpg'" title="Outdoor activities"></app-card-home>
</div>

<app-registration></app-registration>


<app-footer></app-footer>
<app-scroll-to-top-button></app-scroll-to-top-button>
