<div>
  <app-navbar></app-navbar>
</div>

<app-carousel></app-carousel>

<div class="container">
  <!-- Container switch and hide image -->
  <app-card-home [container]="1" [image]="'../assets/examples/photo 3.jpg'" title="Effort"></app-card-home>
  <app-card-home [container]="2" [image]="'../assets/examples/photo 4.jpg'" title="Fellowship"></app-card-home>
  <app-card-home [container]="1" [image]="'../assets/examples/photo 5.jpg'" title="Dedication"></app-card-home>
  <app-card-home [container]="2" [image]="'../assets/examples/photo 6.jpg'" title="Outdoor activities"></app-card-home>
</div>


<app-footer></app-footer>
