
<div #div id="div" class="bg hide" [ngStyle]="styleObject()">
  <div #form class="container reg-form">
    <h3 class="text-center mb-3">Registration</h3>
    <hr>
    <div class="input-group mb-3 mt-4">
      <span class="input-group-text" id="basic-addon1"><i class="fa fa-user-circle-o" aria-hidden="true"></i></span>
      <input type="text" class="form-control" placeholder="Name" aria-label="Name" aria-describedby="basic-addon1">
    </div>

    <div class="input-group mb-3">
      <span class="input-group-text" id="basic-addon2"><i class="fa fa-user-circle" aria-hidden="true"></i></span>
      <input type="text" class="form-control" placeholder="Last Name" aria-label="LastName" aria-describedby="basic-addon2">
    </div>

    <div class="input-group mb-3">
      <span class="input-group-text" id="basic-addon3"><i class="fa fa-id-card-o" aria-hidden="true"></i></span>
      <input type="tel" class="form-control" placeholder="DNI" aria-label="DNI" aria-describedby="basic-addon3">
    </div>

    <div class="input-group mb-3">
      <span class="input-group-text" id="basic-addon4"><i class="fa fa-phone-square" aria-hidden="true"></i></span>
      <input type="tel" class="form-control" placeholder="Phone" aria-label="Phone" aria-describedby="basic-addon4">
    </div>

    <div class="input-group mb-3">
      <span class="input-group-text" id="basic-addon5"><i class="fa fa-envelope" aria-hidden="true"></i></span>
      <input type="email" class="form-control" placeholder="Email" aria-label="Email" aria-describedby="basic-addon5">
    </div>

    <hr class="mt-2 mb-2">
    <div class="row">
      <p class="text-center col">Gender: </p>
      <div class="form-check col d-flex justify-content-start">
        <input class="form-check-input check" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
        <label class="form-check-label ms-2" for="flexRadioDefault1">
          Male
        </label>
      </div>
      <div class="form-check col d-flex justify-content-start">
        <input class="form-check-input check" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
        <label class="form-check-label ms-2" for="flexRadioDefault2">
          Female
        </label>
      </div>
    </div>
    <hr class="mb-4">
    <div class="row">
      <div class="col text-center">
        <button class="button bn">Submit</button>
      </div>
      <div class="col text-center">
        <button class="button" (click)="hide()">Cancel</button>
      </div>
    </div>
  </div>
</div>
