
<div #div id="div" class="bg hide" [ngStyle]="styleObject()">
  <div #form class="container reg-form">
    <h1 class="text-center mb-3">Registration</h1>
    <hr class="m-4">
    <div class="input-group mb-3">
      <span class="input-group-text" id="basic-addon1"><i class="fa fa-user-circle-o" aria-hidden="true"></i></span>
      <input type="text" class="form-control" placeholder="Name" aria-label="Name" aria-describedby="basic-addon1">
    </div>

    <div class="input-group mb-3">
      <span class="input-group-text" id="basic-addon2"><i class="fa fa-user-circle" aria-hidden="true"></i></span>
      <input type="text" class="form-control" placeholder="Last Name" aria-label="LastName" aria-describedby="basic-addon2">
    </div>

    <div class="input-group mb-3">
      <span class="input-group-text" id="basic-addon3"><i class="fa fa-id-card-o" aria-hidden="true"></i></span>
      <input type="number" class="form-control" placeholder="DNI" aria-label="DNI" aria-describedby="basic-addon3">
    </div>

    <div class="input-group mb-3">
      <span class="input-group-text" id="basic-addon4"><i class="fa fa-phone-square" aria-hidden="true"></i></span>
      <input type="number" class="form-control" placeholder="Phone" aria-label="Phone" aria-describedby="basic-addon4">
    </div>

    <div class="input-group mb-3">
      <span class="input-group-text" id="basic-addon5"><i class="fa fa-envelope" aria-hidden="true"></i></span>
      <input type="email" class="form-control" placeholder="Email" aria-label="Email" aria-describedby="basic-addon5">
    </div>

    <hr class="m-4">
    <div class="row">
      <div class="form-check col">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
        <label class="form-check-label" for="flexRadioDefault1">
          Default radio
        </label>
      </div>
      <div class="form-check col">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
        <label class="form-check-label" for="flexRadioDefault2">
          Default checked radio
        </label>
      </div>
    </div>
    <hr class="m-4">
  </div>
</div>
