* {
  transition: 0.2s !important; /*! Hacemos una transicion universal*/
  text-decoration: none !important;
}

/** Contenedor principal */
.rel {
  position: relative;
  padding-top: 100px;
}

/** El contenedor detras */
footer {
  margin-top: 70px;
  background: #cb084f;
}

/** El contenedor delante */
.cont {
  width: 95%;
  background: #141c3a;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  border-radius: 20px;
  box-shadow: 0px 3px 9px 0px rgba(0, 0, 0, 0.42);
}

/** Hijo del contenedor delante */
.s-project {
  height: 170px;
}

/** El background del fondo*/
#bottom-color {
  background-color: rgba(0, 0, 0, 0.2);
}

/** El hover de los iconos de las redes */
section > a:hover {
  color: #cb084f !important;
}

/** El hover del boton */
button:hover{
  color: #cb084f !important;
}

/** El hover de los links */
li > a:hover {
  letter-spacing: 4px;
}

/** El logo principal */
div > img {
  width: 150px;
  margin-top: 100px;
}

.s-project > div {
  display: grid;
  place-items: center;
}

/** Animaciones del boton Submit */
.submit i { /** El icono */
  padding-right: 15px;
}

.submit:hover i {
  transform: translateX(8px);
}

.submit:hover { /** El boton */
  background: #5be9b9;
  color: #141c3a !important;
}

.submit {
  padding: 10px;
  font-weight: bold;
  border: 2px solid #5be9b9;
  border-radius: 35px;
  background: transparent;
}

/*! Responsive */
@media (max-width: 991px) {
  .s-project {
    margin: 60px 0 60px 0;
  }

  footer {
    margin-top: 190px;
  }

  .submit {
    margin-top: 30px;
  }

  .contact {
    margin-top: 20px;
  }
}
