<div class="rel">
  <div class="cont">
    <div class="s-project row row-cols-1 row-cols-lg-3 row-cols-md-3">
      <div class="col">
        <h3 class="text-white text-center">START YOUR TRAINING</h3>
      </div>
      <div class="col">
        <h6 class="text-white text-center">Interested in training together? Start your registration today! Free first class.</h6>
      </div>
      <div class="col">
        <button class="submit text-white text-center" type="button" (click)="show()">
          <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>Subscribe
        </button>
      </div>
    </div>
  </div>
  <!-- Footer -->
  <footer class="text-center text-white">

    <!-- Grid container -->
    <div class="container p-4">
      <!-- Section: Social media -->
      <img src="./assets/img/logo.png" alt="Logo">
      <hr>
      <p>Follow us on our social networks: </p>
      <hr>
      <section class="mb-4">
        <!-- Facebook -->
        <a aria-label="none" class="btn btn-outline-light btn-floating m-1 rounded-circle" href="#!" role="button">
          <i class="fa fa-facebook-official" aria-hidden="true"></i>
        </a>

        <!-- Twitter -->
        <a aria-label="none" class="btn btn-outline-light btn-floating m-1 rounded-circle" href="#!" role="button">
          <i class="fa fa-twitter">
          </i>
        </a>

        <!-- Link -->
        <a aria-label="none" class="btn btn-outline-light btn-floating m-1 rounded-circle" href="#!" role="button">
          <i class="fa fa-link">
          </i>
        </a>

        <!-- Instagram -->
        <a aria-label="none" class="btn btn-outline-light btn-floating m-1 rounded-circle" href="#!" role="button"><i
            class="fa fa-instagram"></i></a>

        <!-- Linkedin -->
        <a aria-label="none" class="btn btn-outline-light btn-floating m-1 rounded-circle" href="#!" role="button"><i
            class="fa fa-linkedin"></i></a>

        <!-- Github -->
        <a aria-label="none" class="btn btn-outline-light btn-floating m-1 rounded-circle" href="#!" role="button"><i
            class="fa fa-github"></i></a>
      </section>
      <!-- Section: Social media -->

      <!-- Section: Form -->
      <section class="">
        <form action="">
          <!--Grid row-->
          <div class="row d-flex justify-content-center">
            <!--Grid column-->
            <div class="col-auto">
              <p class="pt-2">
                <strong>Subscribe to receive news and updates</strong>
              </p>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-5 col-12">
              <!-- Email input -->
              <div class="form-outline form-white mb-4">
                <input placeholder="Email" type="email" id="form5Example21" class="form-control" />
              </div>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-auto">
              <!-- Submit button -->
              <button type="submit" class="btn btn-outline-light mb-4">
                Subscribe
              </button>
            </div>
            <!--Grid column-->
          </div>
          <!--Grid row-->
        </form>
      </section>
      <!-- Section: Form -->

      <!--Section: Links-->
      <section class="">
        <!--Grid row-->
        <div class="row row-cols-1 row-cols-lg-2 row-cols-md-1">

          <!--Grid column-->
          <div class="col">
            <h5 class="text-uppercase">NAVIGATION</h5>

            <ul class="list-unstyled text-center mb-0">
              <li>
                <a href="#home" class="text-white">Home</a>
              </li>
              <li>
                <a href="#about" class="text-white">About</a>
              </li>
              <li>
                <a href="#works" class="text-white">Works</a>
              </li>
              <li>
                <a href="#team" class="text-white">Team</a>
              </li>
              <li>
                <a href="#contact" class="text-white">Contact</a>
              </li>
              <li>
                <a href="#start-project" class="text-white">+ Project</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col contact">
            <h5 class="text-uppercase">CONTACT US</h5>

            <ul class="list-unstyled text-center mb-0">
              <li>
                <a href="#!" class="text-white">WhatsApp: +54 299 5111111</a>
              </li>
              <li>
                <a href="#!" class="text-white">Mail: mail@mail.com</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->

        </div>
        <!--Grid row-->
      </section>
      <!-- Section: Links -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div id="bottom-color" class="text-center p-3">
      © 2022 Copyright:
      <a class="text-white">Made with 🤍 by HVDevs</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->

</div>
